*{
    box-sizing: border-box;
}
/* 往下滾動效果 */
html{
    scroll-behavior: smooth;
}
body{
    /* background-color: #fdecff; */
    background-image: url(img/background/300.jpg);
    margin: 0px;
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
    
}
h2{
    font-family:"Microsoft JhengHei", "微軟正黑體", sans-serif; 
    transition: .4s ease-in-out;
}
h2:hover{
    color:#98912e;
}

nav {
    padding: 20px;
    /* background-color:#3925b9; */
    text-align: center;
    word-spacing: 50px;
   
}
nav a{
    text-decoration: none;

}

nav a:hover{
    background-color: #0972ae;
    border-radius: 30px;
    padding: 14px 16px;
    display: inline-block;
    transition: .3s;
    color:#1c5a94
    /* 連結成一列 */
}
q{
    width: 300;
    height: 320;
}

#quaso{
    position:fixed ;
    bottom: -350px;
    transition: 1s ease;
    z-index: 100;
    
}
/* 碰到圖片時會出現 */
#quaso:hover{
    animation: move1;
    animation-duration: 1s;
    bottom: -20px;
}

.container{
    width: 100%;
    background-color: #ddd;
    border-radius: 50px;
}
main{
    padding: 20px;
}

article{
    /* 右半邊 */
    float: right;
    width: 70%;
}


 .schools li{
    padding-left: 10px;
    font-size: larger;
    font-weight: bold;
    z-index: 0;
}

.sc{
    transition: 0.3s
}
.sc:hover{
    color: #98912e;

}
 
/* 鼠標移至標題上出現圖片 */
.junior-school:hover::before {
  content:"";
  display: block;
  position: absolute;
  top: 180px;
  right: 200px;
  width: 400px;
  height: 600px;
  background-image: url("img/school/國中2.png");
  opacity:1 ;
  background-repeat: no-repeat;
  background-size: contain;
  
}
.high-school:hover::before {
    content:"";
    display: block;
    position: absolute;
    top: 190px;
    right: 80px;
    width: 600px;
    height: 500px;
    background-image: url("img/school/高中.png");
    opacity:1 ;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .collage1:hover::before {
    content:"";
    display: block;
    position: absolute;
    top: 170px;
    right: 150px;
    width: 400px;
    height: 300px;
    background-image: url("img/school/體大.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index:4;
    
  }
  .collage2:hover::before {
    content:"";
    display: block;
    position: absolute;
    top: 200px;
    right: 200px;
    width: 340px;
    height: 340px;
    background-image: url("img/school/中原.png");
    opacity:1 ;
    background-repeat: no-repeat;
    background-size: contain;
    z-index:4;
    
  }

.skills{
    font-weight: bolder;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 3px;
    color: white;
    border-radius: 50px;
    
}

/* 一開始將寬度設為0%到75%時停止 */
@keyframes java{
    0% {
      width: 0%;
    }
    100% {
      width: 75%;
    }
  }
.java{
    border-radius: 50;
    width: 75%;
    background-image: url(img/background/gifgit.gif);
    background-position: 75%;
    animation-name: java;
    /* 持續四秒 並向前填滿 */
    animation-duration: 4s;
    animation-fill-mode: forwards;
    /* 只出現一次照片 */
    animation-iteration-count: 1;
    background-color: rgb(39, 122, 173);
    
}
@keyframes py {
    0% {
      width: 0%;
    }
    100% {
      width: 75%;
    }
}

.py{
    border-radius: 50;
    width: 70%;
    background-image: url(img/background/gifgit.gif);
    background-position: 75%;
    animation-name: py;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    /* background-color: rgb(39, 122, 173); */
}
@keyframes sql {
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
}
.sql{
    border-radius: 50;
    width: 75%;
    background-image: url(img/background/貓貓2.jpeg);
    background-position: 70%;
    animation-name: sql;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes html {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
}
.html{
    border-radius: 50;
    width: 80%;
    background-image: url(img/background/貓貓2.jpeg);
    background-position: 80%;
    animation-name: html;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}
@keyframes css {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
}
.css{
    border-radius: 50;
    width: 80%;
    background-image: url(img/background/貓貓2.jpeg);
    background-position: 80%;
    animation-name: css;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}

aside{
    float: left;
    width: 27%;
    text-align: center;
}
aside h3{
    font-size: 20px;

}

.card{
    padding: 20px;
    margin: 20px 10px;
    background-color: rgb(228, 235, 235);
    background-size: cover;
    border-radius: 30px;
}

.club.container{
    width: 800px;
    height: 600px;
  }

.club.title h3{
    position: relative;
    display: inline-block;
    padding-top: 3px;
    padding-left: 15px;
}
.cheer{
    margin:0px 300px;
}

.Vimg{
    float: left;
    padding-left: 10px;
    border-radius: 30px;
    width: 370px;
    height: 300px;
    /* 轉換長寬 */
    transition-property: width, height;
    transition: .5s ease;
}
/* 鼠標移至圖片時放大 */
.Vimg:hover{
    width: 463px;
    height: 375px;

}
.Cvideo{
    float: left;
    border-radius: 30px;
    padding-top: 0px;
    width: 270px;
    height: 480px;
    transition-property: width,height;
    transition:.5s ease;
    margin-left: 80px; 
    z-index: 0;
}
.Cvideo:hover{
    width: 337.5px;
    height: 600px;
}
.club.content {
  position: absolute;
  padding-top: 25%;
  bottom: 50;
  left: 70;
}

.ntsu{
    padding-left: 30px;
}
.tida{
    padding-top: 15px;
}

.ntsuP1{
    height: 480px;
    width: 300px;
    border-radius: 30px ;
    /* 轉換長寬 */
    transition-property: width, height;
    transition: .5s ease;
}
/* 鼠標移至圖片時放大 */
.ntsuP1:hover{
    height: 600px;
    width: 375px;

}

.ntsuP2{
    margin-left: 30px;
    height:400px;
    width: 300px;
    border-radius: 30px ;
    /* 轉換長寬 */
    transition-property: width, height;
    transition: .5s ease;
}
.ntsuP2:hover{
    height:500px;
    width: 375px;
}


.cookies{
    padding-left: 30px;

}
.Pcookie1{
    margin-left: 30px;
    height:400px;
    width: 300px;
    border-radius: 30px ;
    /* 轉換長寬 */
    transition-property: width, height;
    transition: .5s ease;
}
.Pcookie2{
    margin-left: 30px;
    height:400px;
    width: 300px;
    border-radius: 30px ;
    /* 轉換長寬 */
    transition-property: width, height;
    transition: .5s ease;
}
.Pcookie1:hover,.Pcookie2:hover{
    height:500px;
    width: 375px;

}

footer a{
    /* text-decoration: none; */
    display: inline-block;
    text-align: center;
    padding: 10px;
}

footer div{
    text-align: center;
    padding-bottom: 9px;
    
}
a img{
    width:35px; 
    height: 35px;
    transition: .5s ease;
}


a img:hover{
    background-color:white;
    border-radius: 30%;
}

.clearfix{
    clear: both;
}
.top {
    display: inline;
    text-decoration: none;
    position: fixed;
    z-index: 10;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    color: #fff;
    background: rgb(76, 63, 117);
    line-height: 50px;
    border-radius: 50%;
    transition: all 0.5s;
    text-align: center;
}
